.container {
    width: 360px;
    padding:10% 0 0;
    margin: auto;
}
.overlay {
    position: relative;
    z-index: 1;
    background: rgba(57, 255, 20, 0.6);
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 40px;
    text-align: left;
}
a {
    color:rgb(35, 35, 223);
}
a:hover {
    color : pink;
}
button:hover, input:hover, select:hover{
    background-color : yellowgreen;
}
input, select, button{
    border-radius: 0.4rem;
}
#rates {
    position: relative;
    z-index: 1;
    background: rgba(117, 243, 13, 0.6);

    margin: 0 auto 100px;
    padding: 40px;
    text-align: left
}